.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
  gap: 16px;
}

.types {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.flashcard {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 600px;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  button {
    min-width: 130px;
  }
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;

  &:hover {
    background-color: #0056b3;
  }
}

.number,
.word {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  margin: 16px 0 8px 0;
}

.word {
  text-transform: uppercase;
}

.number {
  color: #007bff;
}

.spanish {
  font-size: 20px;
  margin: 0 0 8px 0;
  color: #ccc;
}

.pronunciation {
  margin: 8px 0;
  font-size: 20px;
  color: #007bff;
}

.simple-sentence,
.complex-sentence {
  margin: 12px 0 4px;
}

.complex-sentence,
.simple-sentence {
  color: #000000;
}

.complex-sentence-spanish,
.simple-sentence-spanish {
  color: #a6a6a6;
  margin: 0;
  font-size: 18px;
}

.text-to-speech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-speech {
  width: 34px;
  min-width: 34px;
  height: 34px;
  cursor: pointer;
  img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container-flashcard {
    position: relative;
  }

  .flashcard {
    width: 90%;
    font-size: 1.2rem;
  }

  .controls {
    width: 100%;
    /* position: absolute;
		top: 0;
		height: 100%;
		opacity: 0; */

    button {
      width: 50%;
    }
  }

  .types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    button {
      font-size: 12px;
    }
  }

  .simple-sentence-spanish,
  .complex-sentence-spanish {
    font-size: 14px;
  }

  .pronunciation {
    font-size: 14px;
  }
}

// Tablets (ancho entre 601px y 900px)
@media (min-width: 601px) and (max-width: 900px) {
  .flashcard {
    width: 80%;
    font-size: 1.4rem;
  }
}

// Escritorio pequeño a grande (más de 900px)
@media (min-width: 901px) {
  .flashcard {
    width: 600px;
    font-size: 1.5rem;
  }
}
